[submodule "Ruuvi_SDK/ruuvi.drivers.c"]
	path = Ruuvi_SDK/ruuvi.drivers.c
	url = https://github.com/ruuvi/ruuvi.drivers.c.git
[submodule "Ruuvi_SDK/ruuvi.endpoints.c"]
	path = Ruuvi_SDK/ruuvi.endpoints.c
	url = https://github.com/ruuvi/ruuvi.endpoints.c.git
[submodule "Ruuvi_SDK/ruuvi.libraries.c"]
	path = Ruuvi_SDK/ruuvi.libraries.c
	url = https://github.com/ruuvi/ruuvi.libraries.c.git
[submodule "Ruuvi_SDK/ruuvi.boards.c"]
	path = Ruuvi_SDK/ruuvi.boards.c
	url = https://github.com/ruuvi/ruuvi.boards.c.git
